html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  height: 100%;
}

h1 {
  margin: 100px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

h1, h2 {
  color: #66BFBF;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #66BFBF;
  display: inline;
}

a {
  color: #11999E;
}

.row h2 {
  display: inline;
}

.white {
  color: white;
  padding: 10px 0 20px 0;
}

.contact-h {
  margin: 40px 20% auto 20%;
}

.contact-p {
  margin: 20px auto 60px auto;
  width: 40vw;
}

hr {
  margin: 150px auto;
  border-color: grey;
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
}

.profile {
  margin-bottom: 20px;
}

.presentation {
  color: #40514E;
  width: 50vw;
  margin: 15px auto;
}

.top-container {
  position: relative;
  padding-top: 150px;
  height: 100%;
  background-color: #EAF6F6;
  background-image: radial-gradient(90% 90% at center, #EAF6F6, #66BFBF);
}

.middle-container {
  padding-top: 200px;
}

.bottom-container {
  padding: 50px;
  margin-top: 100px;
  background-color: #66BFBF;
}

.skill-table-container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 200px auto 100px auto;
  background-color: #EAF6F6;
  background-image: radial-gradient(100% 100% at center, #66BFBF, #EAF6F6);
}

.inner-table-div {
  background-color: white;
  border-radius: 10px;
}

.skill-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.table-slide-container {
  overflow: hidden;
}

.down-slide {
  transform: translateY(-80vw);
  animation: down-slide .8s ease forwards;
}

@keyframes down-slide {
  to {
    transform: translateY(0);
  }
}

.up-slide {
  animation: up-slide .8s ease forwards;
}

@keyframes up-slide {
  to {
    transform: translateY(-80vw);
  }
}

.skill-table th, td {
  padding: 15px;
}

.skill-table td .fa-brands {
  float: left;
  display: inline;
}

.fa-brands, .fa-database {
  font-size: 2rem;
  margin-right: 10px;
  color: #66BFBF;
}

.haskell {
  filter: brightness(0) saturate(100%) invert(71%) sepia(41%) saturate(385%) hue-rotate(131deg) brightness(89%) contrast(91%);
}

.fa-star {
  font-size: 1.2rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

.filled-stars:hover .fa-solid {
  transform: scale(1.15);
  transform-origin: center;
  color: #11999E;
}

.footer-link {
  color: #11999E;
  margin: auto 20px;
}

.footer-p {
  color: #EAF6F6;
  margin-top: 30px;
}

.footer-img {
  width: 4%;
  min-width: 40px;
  color: white;
  padding-bottom: 5px;
}

.footer-img:hover {
  transform: scale(1.15);
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mountain {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python-img:hover {
  transform: scale(1.15);
}

.coding-img:hover {
  transform: scale(1.15);
}

.skill-row {
  width: 60vw;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #2596be, #11999e);
  background-image: -moz-linear-gradient(top, #2596be, #11999e);
  background-image: -ms-linear-gradient(top, #2596be, #11999e);
  background-image: -o-linear-gradient(top, #2596be, #11999e);
  background-image: linear-gradient(to bottom, #2596be, #11999e);
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.15);
}

#carouselExampleSlidesOnly {
  margin: auto;
}

.right-slide {
  transform: translateX(-80vw);
  animation: right-slide .8s ease forwards;
}

@keyframes right-slide {
  to {
    transform: translateX(0);
  }
}

.left-slide {
  transform: translateX(80vw);
  animation: left-slide .8s ease forwards;
}

@keyframes left-slide {
  to {
    transform: translateX(0);
  }
}

.slide-out-right {
  animation: slide-out-right .8s ease forwards;
}

@keyframes slide-out-right {
  to {
    transform: translateX(80vw);
  }
}

.slide-out-left {
  animation: slide-out-left .8s ease forwards;
}

@keyframes slide-out-left {
  to {
    transform: translateX(-80vw);
  }
}


@media (max-width: 1028px) {
  html, body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 12rem;
    padding-top: 15vh;
  }

  .hello {
    font-size: 7rem;
    padding-top: 10px;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3.5rem;
    margin: 40px 10px 0px 10px;
  }

  p {
    font-size: 2.5rem;
    margin: 20px 8px 60px 8px;
  }

  .profile {
    padding-top: 10px;
    transform: scale(1.2);
  }

  .footer-img {
    width: 12%;
    min-width: 40px;
    color: white;
    padding-bottom: 10px;
  }

}
